@font-face {
    font-family: handwriting;
    src: url(fuentes/Alittlesunshine.ttf);
}

html, body {
}

body {
	background-image:  url("images/fondo.jpg");
	font-family: handwriting;
	font-size: 17pt;
}

h1{
	text-align: center;
}

table {	
    border-collapse: collapse;
    margin: 3% auto;
}

th, td{
/* 	border: solid 1px; */
}

input{
/* 	background-color: #FFF8DC; */
	background-color: transparent;
	border: none;
	border-bottom: 2px dotted;
	font: inherit;
}

button{
	border-radius: 25px;
	max-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

canvas{
    display: block;
    margin-left: 50%;	
}	

.table{
	display: table;	
}

.tr{
	display: table-row;
}

.td{
	display: table-cell;
	padding: 0 1%;
}

.celdaNoBorde{
	border: none;
}

.anchoTotal{
	width: 100%;
}

.centrado{
	margin: 0 auto;
}

.aLaDcha{
	text-align: right;
}

#calendarioNo{
	display: none;
}

#calendarioSi{
	display: table-cell;
}

#btnAniadir{
	background-color: #20B2AA;
}

#botonEliminar{
	background-color: #dc143c;
}

#botonEliminar:disabled{
	background-color: #ffd4d4;
	cursor: not-allowed;
}

#btnCalcular{
	background-color: #e4ba49;
}

#btnEnviar{
	background-color: #7c9d44;
}

#graficoContainer{
	float: left;
	width: 49%;
}

#factura{
	float: left;
	width: 49%;
}


#contenido{
    margin-top: 3%;
}