html, body {
}

body {
}

h1{
	text-align: center;
}

table {	
    border-collapse: collapse;
    margin: 3% auto;
}

th, td{
	border: solid 1px;
}

canvas{
    display: block;
    margin: 2% auto;	
}	

.table{
	display: table;	
}

.tr{
	display: table-row;
}

.td{
	display: table-cell;
	padding: 0 1%;
}

.celdaNoBorde{
	border: none;
}

.anchoTotal{
	width: 100%;
}

.centrado{
	margin: 0 auto;
}

.aLaDcha{
	text-align: right;
}

#calendarioNo{
	display: none;
}

#calendarioSi{
	display: table-cell;
}