@font-face {
	font-family: titlefont;
	src: url(../fuentes/FabricsLight.ttf);
}

@font-face {
	font-family: menuitem;
	src: url(../fuentes/TravelingTypewriter.ttf);
}

@-webkit-keyframes girar {
	0% {
	   -webkit-transform: rotate(0deg);
    }

    100%{
        -webkit-transform: rotate(360deg);
    }
}

html, body {
	margin: 0px;
	height: 100%;
}

body {
	background-color: rgba(255, 205, 85, 0.5);
}

h1 {
	font-family: titlefont, serif;
	color: #FA6A31;
}

h3 {
	font-family: menuitem, sans-serif;
}

table {
	width: 100%;
}

a{
	color: #3c3c3c;
    text-decoration: none;
}

.centrado {
	margin: 0 auto;
}

#titulo {
	background-color: rgba(16, 74, 87, 0.9);
	width: 100%;
	padding: 1px;
	border-bottom: dashed #91beae;
}

#celdatitulo {
	width: 64%;
}

#celdalogo {
	padding-left: 1%;
}

#logo {
	-webkit-animation-name: girar;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
}

#menu {
	background-color: rgba(16, 74, 87, 0.6);
	width: 20%;
	min-width: 200px;
	height: inherit;
	float: left;
}

.itemmenu {
	padding-left: 8%;
	background-color: #c8dfd7;
	color: #3c3c3c;
	cursor: pointer;
}

.itemmenu:hover {
	background-color: #deebe7;
}

#contenedor {
	float: left;
	width: 80%;
	height: inherit;
}

#marcocontenedor {
	width: 100%;
	height: inherit;
	border: none;
}