@font-face {
	font-family: bodyfont;
	src: url(../fuentes/centabel.ttf);
}

html, body {
}

body {
	color: #072025;
	font-family: bodyfont;
}

h2 {
	text-align: center;
	color: #072025;
	font-family: monospace;
	font-weight: bolder;
	background: -webkit-linear-gradient(#fc8e65, #bd3704);
    padding: 8px 0px;
    border-radius: 30px;
    border: 1px outset #BD3703;
}

fieldset{
	border-color: #91beae;
	
}

.centrado {
	margin: 0 auto;
}

.table{
    display: table;
    width: 80%;
    margin: 0 auto;
}

.tr{
    display: table-row;
}

.td{
    display: table-cell;   
}