html, body {
}

body {
}

h2 {
	text-align: center;
	color: #072025;
	font-family: monospace;
	font-style: italic;
	font-weight: bolder;
}

.table{
	display: table;
}

.tr{
	display: table-row;
}

.td{
	display: table-cell;
	width: 300px;
	text-align: center;
	vertical-align: middle;
	height: 160px;
}

.centrado {
	margin: 0 auto;
}

